.dish-container-reverse {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	padding-bottom: 5%;
}

.dish-img-reverse {
	max-width: 50%;
	object-fit: contain;

	padding: 5% 5% 0 0;
	animation-duration: 1s;
}

@media screen and (max-width: 1024px) {
	.dish-container-reverse {
		width: 100%;
		margin: auto;
		display: flex;
		flex-direction: column-reverse;
	}
	.dish-img-reverse {
		max-width: 100%;
		object-fit: contain;
		-webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 1, 1) both;
		animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 1, 1) both;
		padding-right: 3%;
		padding-left: 2%;
		padding: 3%;
	}
}
