// .home-container {
// 	min-height: 86vh;
// 	width: 100%;
// 	display: flex;
// 	flex-direction: column;
// }

// .home-img {
// 	width: 100%;
// }

// .home-title {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50%, -200%);
// 	color: rgb(212, 91, 91);
// 	font-size: 7rem;
// 	text-shadow: 1px 1px 1px black;
// 	opacity: 2;
// 	width: 70%;
// }

// .home-text {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50%, 20%);
// 	font-size: 2.5rem;
// 	text-shadow: 2px 2px 2px black;
// 	color: lightgoldenrodyellow;
// 	width: 70%;
// }

// .home-text1 {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50%, 170%);
// 	font-size: 2.5rem;
// 	text-shadow: 2px 2px 2px black;
// 	color: lightgoldenrodyellow;
// 	width: 70%;
// }

.home-container {
	min-height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-img {
	width: 100%;
	height: auto;
}
.text-container {
	position: absolute;
	padding-top: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70%;
	z-index: 1;
}
.home-title {
	padding-bottom: 5%;
	color: rgb(212, 91, 91);
	font-size: 5rem;
	text-shadow: 1px 1px 1px black;
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.home-text,
.home-text1 {
	margin: 5% 0 5% 0;
	font-size: 3rem; /* Réduire la taille de la police */
	text-shadow: 2px 2px 2px black;
	color: lightgoldenrodyellow;
	width: 100%; /* Utiliser la largeur complète du conteneur */
	text-align: center; /* Centrer le texte horizontalement */
	margin-top: 10px;
}

// Responsive design for mobile devices
// @media screen and (max-width: 390px) {
// 	.home-img {
// 		height: 86vh;
// 	}

// 	.text-container {
// 		width: 80%;
// 	}

// 	.home-title {
// 		font-size: 2.4rem;
// 	}

// 	.home-text,
// 	.home-text1 {
// 		font-size: 1.1rem;
// 		padding: 7% 0 0 0;
// 	}
// }

@media screen and (max-width: 1024px) {
	.home-img {
		height: 86vh;
	}

	.text-container {
		width: 80%;
	}

	.home-title {
		font-size: 2.7rem;
		padding-top: 4rem;
	}

	.home-text,
	.home-text1 {
		font-size: 1.3rem;
		padding: 7% 0 -5% 0;
	}
}

// @media screen and (max-width: 600px) {
// 	.text-container {
// 		width: 100%;
// 	}
// 	.home-img {
// 		height: 100%;
// 	}
// 	.text-container {
// 		width: 95%;
// 	}
// 	.home-title {
// 		font-size: 2.5rem;
// 		padding: -5% 0 0 0;
// 	}
// 	.home-text,
// 	.home-text1 {
// 		font-size: 1.3rem;
// 		padding: 2% 0 -2% 0;
// 	}
// }

@media screen and (max-width: 390px) {
	.home-img {
		height: 100vh;
	}
	.text-container {
		width: 80%;
	}

	.home-title {
		font-size: 1.8rem;
		padding-top: 2rem;
	}
	.home-text,
	.home-text1 {
		font-size: 1.2rem;
		padding: 7% 0 0 0;
	}
}
