.header-container {
	height: 7vh;
	background-color: #e14a4a;
	display: flex;
	align-items: center;
}

.header-nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.header-ul {
}
